{
  "items": [
    {
      "name": "datanode_java_heapsize",
      "value": "128974848"
    },
    {
      "name": "dfs_data_dir_list",
      "value": "/data/dfs/dn"
    },
    {
      "name": "dfs_datanode_du_reserved",
      "value": "2113784627"
    },
    {
      "name": "dfs_datanode_max_locked_memory",
      "value": "324009984"
    }
  ]
}
