{
  "items": [
    {
      "name": "dfs_name_dir_list",
      "value": "/data/dfs/nn"
    },
    {
      "name": "dfs_namenode_servicerpc_address",
      "value": "8022"
    },
    {
      "name": "namenode_java_heapsize",
      "value": "128974848"
    }
  ]
}
