{ "items": [
    {
      "name": "zookeeper-SERVER",
      "type": "SERVER",
      "config": {
        "items": [
          {
            "name": "serverId",
            "value": "1"
          }
        ]
      },
      "hostRef": {
        "hostId": "{{zookeeperHost1Id}}"
      },
      "roleConfigGroupRef": {
        "roleConfigGroupName": "zookeeper-SERVER-BASE"
      }
    }
]}