{
    "items": [
        {
            "name": "DISTRIBUTE_PARCELS_AUTOMATICALLY",
            "value": "true"
        },
        {
            "name": "DOWNLOAD_PARCELS_AUTOMATICALLY",
            "value": "true"
        }
    ]
}