{ "items": [
    {
      "config": {
        "items": [
          {
            "name": "serverId",
            "value": "1"
          }
        ]
      },
      "hostRef": {
        "hostId": "{{cloudera_node1_hostname}}"
      },
      "name": "zookeeper-SERVER",
      "roleConfigGroupRef": {
        "roleConfigGroupName": "zookeeper-SERVER-BASE"
      },
      "type": "SERVER"
    }
]}